<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ESPClientID</key>
	<string>$(ESP_CLIENT_ID)</string>
	<key>ESPClientSecret</key>
	<string>$(ESP_CLIENT_SECRET)</string>
	<key>ESPHost</key>
	<string>https://live.esimplified.io</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>eSimplified</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>eSimplified revenue</string>
		</dict>
	</array>
</dict>
</plist>
